# R created files
*.Rproj
*.Rproj.user
*.Rhistory
*.Ruserdata
*.history
*.RData

# Misc Knit Files
*.aux
*.gz
*.log
*.rdx
*.rdb
*.knit.md
*cache
*.results
*.html

# Other
*.httr-oauth
*.DS_Store
Thumbs.db

# Ignore raw data directory
/raw/
/writeup/rsconnect/
/writeup/Replication Report Template_files/
/writeup/Replication-Report-Template_files/